<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>

</head>
<body>
<h1>Enter Twitter username</h1>
<form method="post">
    <input type="text" name="username" placeholder="Username" style="height:50px;font-size:18pt;">
</form>
<p>This app generates a map with locations of all people, who follow this user on Twitter.<br>
Created by Marko Ruzak, CS-1 <b>[APPS UCU]</b><br>
This may take up some time, up to a minute because of geopy ratelimit.</p>
</body>
</html>